body {
    margin: 0;
    padding: 0;

}
#card {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100%;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ), url("https://images.pexels.com/photos/788200/pexels-photo-788200.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    align-self: bottom;
    border: 0;
}
.wording{
    margin-left:10%;
    margin-top:12%;
}
h3{
    color:grey;
}
h1{
    color:white;
    padding-top:20px;
}
.row{
    margin-top:5%;
}
.card-3{
    height: 100%;
    width:100%;
    background-image: url("https://images.pexels.com/photos/1645028/pexels-photo-1645028.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    align-self: center;
    border: 0;
}
#card-4{
    margin-top:2px;
}

.card-5{
    height: 100%;
    width:100%;
    background-image: url("https://images.pexels.com/photos/21787/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    align-self: bottom;
    border: 0;
}
#card-7 {
    margin: 0;
    padding: 0;
    height: auto;
    width:100%;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("https://i.pinimg.com/originals/1b/3a/e4/1b3ae4ec307546532d4577b8d1e05109.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    align-self:center;
    border: 0;
}
#card-8 {
    margin: 0;
    padding: 0;
    height: auto;
    width:100%;
    border: 0;
}
.wording-2{
    margin-left:10%;
    padding-top:5pc;
}

.card-9{
    height: 100%;
    width:100%;
    background-image: url("https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-repeat: no-repeat;
    background-size: 100%;
    align-self:center;
    border: 0;
}
  
